* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* main */

#main {      
    background-color: rgb(228, 228, 228);
}

/* header */
#header {
    height: 62px;
    background-color: #fff;
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;;
}

#nav {
    display: inline-block;
    cursor: pointer;
}

#nav .subnav {
    list-style-type: none;
}

#nav > li {
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {    
    color: black;
    text-transform: uppercase;
}

#nav li a {
    line-height: 62px;
    padding: 0px 24px;
    display: inline-block;
    text-decoration: none;
}

#nav > li > .subnav > li {
    display: block;
}

#nav > li:hover > a {
    color: rgb(228, 128, 15);
    background-color: #fff;
    text-decoration: underline;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    padding-left: 0px;
    background-color: #ccc;
}

#nav .subnav a {
    color: black;
    width: 150px;
    line-height: 48px;
}

#nav .subnav li:hover a {
    color: rgb(228, 128, 15);
    background-color: #fff;
    text-decoration: underline;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .logo {
    float: left;
    line-height: 62px;
    padding: 0 16px;
}

/* bg-img */

#bg-img {
    /* margin-top: 62px; */
    padding-top: 50%;
    background: url('../assets/img/banner1.8e6bccbc.png') top center / cover no-repeat;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 630px;
}

#bg-img .text-content{
    position: absolute;
    color: #fff;
    bottom: 50%;
    padding-left: -12px;
}

#bg-img .text-heading {
    
}
 
#bg-img .text-description {
    
}

/* tracking_category */

.tracking_category {
    margin-top: 50px;
}

.tracking-container {
}

/* voucher */

.voucher-heading {

}

.voucher {

}

.voucher .voucher-heading {
    line-height: 36px;
    font-size: 18px;
}

.voucher-heading > h2 {
}

.heading-desc {
    text-transform: uppercase;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 550;
}

.voucher-heading  .more {
    text-decoration: none;
    color: #f39f2d;
    text-align: right;
}

.more > a {    
    border: 1px solid #f39f2d;
    text-decoration: none;
    color: #f39f2d;
    border-radius: 3px;
    padding: 0.71429rem 2.5rem;
}

.more > .btn:hover {
    color: #fff;
}

.voucher-content {
    margin-top: 20px;
}

.voucher-items {
    margin: 0px;
    background-color: #fff;
    height: 397px;
}

.voucher-items > img {
    min-height: 230px;
}

.voucher-items > img:hover {
    opacity: 0.6;
}

.items-place {
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.price-count {
    padding: 16px;
    height: auto;
    white-space: nowrap;
}

.price-count > a {
    /* padding: 0px; */
    line-height: 35px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    margin-bottom: 40px;
}

.price-count > a:hover {
    color: #f39f2d;
    text-decoration: underline;
}

.count {
    font-size: 14px;
    line-height: 30.859px;
}

.price {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    color: #f39f2d;
}
/* end voucher */

/* place */
.place {
    margin-top: 40px;
}

.place {

}

.place-container {

}

.heading-container {

}

.heading {
    text-transform: uppercase;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 550;
}

.place-list {
    margin-top: 22px;
}

.place-content {
    position: relative;
}

.place-items {
    
}

.place-items img {    
    min-height: 460px;
}

.place-desc {
    position: absolute;
    color: #fff;
    font-size: 22px;
    font-weight: 550;
    bottom: 24px;
    text-transform: uppercase;
    left: 12px;
    right: 12px;
    text-align: center;
}

/* end place */

.deal {
    margin-top: 40px;
    padding-bottom: 40px;
}

/* footer */

#footer {
    padding: 64px 16px;
}

#footer .social-list {
    font-size: 24px;
    text-align: center;
}

#footer .social-list > a:hover {
    opacity: 0.4;
}

.social-list > a {
    color: aqua;
    text-decoration: none;
}
